<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="1ffa6e5a-af88-451c-8b37-17e8265cff1a"
    Publisher="CN=conta"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1ffa6e5a-af88-451c-8b37-17e8265cff1a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NeonPartyGamesController</DisplayName>
    <PublisherDisplayName>conta</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="NeonPartyGamesController.App">
      <uap:VisualElements
        DisplayName="Neon Party Games Controller"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="This is the official controller for Neon Party Games. Neon Party Games is a unique group multiplayer game available on the Roku. Play head to head with an unlimited number of people all interacting on one screen in 6 exciting game modes! If you don&apos;t already have Neon Party Games installed on your Roku you can install it here -- https://my.roku.com/add/neonpartygames"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>